.containerInfo {
  display: flex;
  gap: 20px;
}

.title {
  color: #000;
}

.btn {
  margin: 0 0 20px 10px;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;

  padding: 15px 16px;
  color: black;

  background: #ed8ad903;
  border-radius: 10px;
  box-shadow: 10px 5px 5px black;
}
.btn:hover,
:focus {
  background-color: rgba(112, 155, 216, 0.375);
}

.listInfo {
  font-size: 18px;
  list-style: none;
  padding-left: 0px;
}

.link {
  color: black;
}
.link:global(.active) {
  color: blue;
}
.text {
  font-size: 16px;
}
.imgTitle {
  min-width: 288px;
  border-radius: 15px;
}
