.list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding-left: 0px;
}

.item {
  min-width: 182px;
  font-size: 14px;
  padding: 6px;
  max-width: min-content;
}

.text {
  margin-top: 5px;
  margin-bottom: 2px;
}

.info {
  color: black;
  font-size: 18px;
}
img {
  max-width: 182px;
  border-radius: 8px;
}
